.rd-container
  border 1px solid #333
  background-color #fff
  padding 10px

.rd-back,
.rd-next,
.rd-month
  display inline-block

.rd-back,
.rd-next
  cursor pointer

.rd-back:before
  display block
  content '\2190'

.rd-next:before
  display block
  content '\2192'
